body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#00FFFF;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp, .checkDistance{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  display: inline-block;
  position: absolute;
  background-image: url('images/TestFish.png');
  background-size: 100% auto;
  width: 200px;
  height: 100px;
/*  border: 10px solid red;
  border-radius: 10px;
  position:absolute;*/
}
.leftFish {
  transform: scaleX(-1);
}
.hookedFish {
  transform: rotate(270deg);
}
/*.dancerHead{
  width: 50px;
  height: 60px;
  background-image: url('images/GWBHead.png');
  background-size: 100% auto;
}
.leftHead{
  transform: rotate(330deg);
}
.rightHead{
  transform: rotate(30deg);
}
.dancerBody{
  width: 100px;
  height: 100px;
  background-image: url('images/dance.gif');
  background-repeat: no-repeat;
  background-size: 100% auto;
}*/