body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#00FFFF;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp, .checkDistance{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer {
  display: inline-block;
  position: absolute;
}
.fish{
  background-image: url('images/TestFish.png');
  background-size: 100% auto;
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  margin: 0;
/*  border: 10px solid red;
  border-radius: 10px;
  position:absolute;*/
}
.leftFish {
  transform: scaleX(-1);
}
.hookedFish {
  background-image: url('images/TestFishRotate.png') !important;
  width: 100px;
  height: 200px;
}
.hook {
  display: inline-block;
  background-image: url('images/BlackHook.png');
  background-size: 100% auto;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.blueYellow {
  background-image: url('images/TestFish1.png');
  background-size: 100% auto;
  width: 100px;
  height: 82px;
  background-repeat: no-repeat;
  margin: 0;
}
.rotate {
  transform: rotate(315deg);
}

.BYhook {
  display: block;
  background-image: url('images/TestFish1Rotate.png');
  background-size: 100% auto;
  width: 82px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
/*  border: 10
}
/*.dancerHead{
  width: 50px;
  height: 60px;
  background-image: url('images/GWBHead.png');
  background-size: 100% auto;
}
.leftHead{
  transform: rotate(330deg);
}
.rightHead{
  transform: rotate(30deg);
}
.dancerBody{
  width: 100px;
  height: 100px;
  background-image: url('images/dance.gif');
  background-repeat: no-repeat;
  background-size: 100% auto;
}*/